<%- include ('templates/header'); -%>

<div class="container">
    <div class ="jumbotron">
        <h1 style="text-align:center;"> Found the Quotes </h1>
        <div class="row">
            <div class="col-sm-4"></div>
            <button class="col-sm-4 btn btn-info btn-block" onclick="location.href='/';"> Search Again! </button> 
            <div class="col-sm-4"></div>            
        </div>
    </div>
    
    <%if(!authors){%>
        <h1 class='col-sm-12 nofound'>CANNOT FIND YOUR QUOTES!!!</h1>
    <%}else{%>
        <h3> Quotes: "<%=keyword%>"</h3>
        <ul>
            <%authors.forEach(function(author){%>
                <li><%=author.quote%> <a href='/author/<%=author.authorId%>'><%=author.lastName%></a></li>
            <%});%>
    
        </ul>
    <%}%>
</div>

<%- include ('templates/footer'); -%>